<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABES Engineering College</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}" />
</head>

<body>
{% csrf_token %}
    <div class="panel">
        <div class="pricing-plan">
            <img src="{% static 'icons/student.jpg' %}" alt="" class="user-img">
            <h2 class="pricing-header">Student</h2>

            <span class="pricing-price"></span>
            <a href="student/" class="pricing-button is-featured">Login</a>
        </div>

        <div class="pricing-plan">
            <img src="{% static 'icons/logo.png' %}" alt="" class="logo-img">
            <span class="pricing-price"></span>
            
            <a href="admin/" class="pricing-button is-featured" style="background-color:rgb(205, 204, 204); color: black;opacity: 0.7; border:none;" >Admin</a>

        </div>
        <div class="pricing-plan">
            <img src="{% static 'icons/teacher.jpg' %}" alt="" class="user-img">
            <h2 class="pricing-header">Teacher</h2>

            <span class="pricing-price"></span>
            <a href="teacher/" class="pricing-button is-featured">Login</a>
        </div>

    </div>

</body>

</html>
