{% extends ‘attendance.html’ %}
{% load static %}
load_discipline_dropdown_list.html



=========================================================

=========================================================

load_micro_dropdown_list.html
=========================================================
<option value="">---------</option>
{% for micro_content in disciplinemicrocontents %}
<option value="{{ micro_content.pk }}">{{ micro_content }}</option>
{% endfor %}
=========================================================


=========================================================

=========================================================