.buttondesign
 {
  background-color: #2480ea; 
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 13px;

  border-radius: 8px;
}
.smallbutton
 {
  align-self: center;
  align-items: center;
  background-color: #2480ea;
  border: none;
  color: white;
  padding: 7px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

