
body {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }
  .forget {
    padding-top: 3%;
    padding-bottom: 5%;
    color: rgb(0, 0, 0);
    margin:auto;
    margin-top: 11%;
    width: 30%;
    background: #acafff54;
    border-radius: 10px;
    display: flex;
    flex: 1 1 100%;
    box-shadow: 30px 20px 20px 15px #25056085;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 200%;
  }

  .inputs{
   
  }
