<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Forgot Password</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/forget-style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}" /> 

</head>

<body>
	<div class="forget" align="center">
		<div >
			<h5>Forgot Password</h5>
			<form method="post" action="/teacher/mail/">
				{% csrf_token %}
				<div class="inputs">
					<input type="text" placeholder="E-mail" name="email">
				</div>
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}"  style="color:rgb(191, 3, 3); font-size:40%; text-align:center";>
						{{ message|safe}}
					</div>
				{% endfor %}
				{% endif %}
				<button type="submit" class="buttondesign" style="cursor:pointer;">Reset</button>
			</form>
		</div>
	</div>
	<!-- partial -->
</body>

</html>