<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<title>Subjects</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href={% static "images/favicon.png" %}>
	<link rel="stylesheet" href={% static 'css/style.css' %}>
	<link rel="stylesheet" href={% static "css/skin-3.css" %}>
	<link rel="stylesheet" href={% static "css/button.css" %}>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		#my-dialog{
			background-color:rgb(189, 236, 255);
			margin-right: 1%;
			border-radius: 5%;
			padding: 23px;
			border: none;
			top: -8%;
			color:rgb(5, 41, 56);
		}
		input{
			background-color: rgb(227, 247, 255);
			border:1px solid;
		}
		select{
			background-color: rgb(227, 247, 255);
		}
		label{
			text-decoration-color: burlywood;
		}
	</style>
</head>

<body>
	<div id="main-wrapper">
		{%include "navbar.html" %}
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">

				<div class="row">
					<div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Subjects</h3>
							</div>
							<div class="card-body">
								<div class="table-responsive recentOrderTable">
									<table class="table verticle-middle table-responsive-md">
										<thead>
											<tr>
												<th scope="col">No.</th>
												<th scope="col">Code</th>
												<th scope="col">Subject</th>
												<th scope="col">Faculty</th>
												<th scope="col">Branch</th>
											</tr>
											
											{% for i in branch_subject %}
											<tr>
												<td>
													{{forloop.counter}}
												</td>
												<td>
													{{i.branch_subject.code}}
												</td>
												<td>
													{{i.branch_subject.subject_name}}
												</td>
												<td>
													{{i.subject_teacher}}
												</td>
												<td>
													{{i.branch}}
												</td>
											</tr>
											{%endfor%}

										</thead>

									</table>
								</div>
							</div>
							<form method="post" action="/teacher/subject/">
								{% csrf_token %}
								<a  href="#" role="button">
									<div align="right" style="margin: 1%;">
										<button type="submit" class="buttondesign" align="right" onclick="openDialog()">
											Add New
										</button>
									</div>
								</a>
								<dialog id="my-dialog" >
								<div >
									<button onclick="closeDialog()" style="float: right; background-color:rgb(189, 236, 255); border: 0ch;margin-top: 0;"><i class="material-icons" style="font-size:20px;color:red;">highlight_off</i></button><br>
									You are adding a subject to your department.
									<br>
									{{form.as_p}}
									<button type="submit" class="smallbutton">Add</button>
								</div>
							</dialog>

							</form>
							
							
						</div>
					</div>
				</div>
				<div>
				

<script>
  function openDialog() {
    var dialog = document.getElementById('my-dialog');
    dialog.open = true;
  }

  function closeDialog() {
    var dialog = document.getElementById('my-dialog');
    dialog.open = false;
  }
  document.getElementById("myForm").addEventListener("submit", function(event) {
  // Prevent the form from submitting by default
  event.preventDefault();

  // Get the values of the number input fields
  var number1 = parseInt(document.getElementsByName("NOLR1")[0].value);
  var number2 = parseInt(document.getElementsByName("NOLR2")[0].value);
  var number3 = parseInt(document.getElementsByName("NOLR3")[0].value);
  var number4 = parseInt(document.getElementsByName("NOLR4")[0].value);
  var number5 = parseInt(document.getElementsByName("NOLR5")[0].value);

  // Calculate the sum
  var sum = number1 + number2 + number3 + number4 + number5;

  // Check if the sum is greater than 40
  if (sum > 40) {
    // If the sum is greater than 40, submit the form
    this.submit();
  } else {
    // If the sum is not greater than 40, display an error message or take any other appropriate action
    alert("The sum of the numbers must be greater than 40.");
  }
});

</script>

			</div>
		</div>
		<!--**********************************
Content body end
***********************************-->
	</div>
	<!--**********************************
Main wrapper end
***********************************-->

	<!--**********************************
Scripts
***********************************-->
	<!-- Required vendors -->
	<script src={% static "vendor/global/global.min.js"%}></script>
	<script src={% static "js/custom.min.js"%}></script>
	<script src={% static "js/dashboard/dashboard.js"%}></script>
	<script src={% static "vendor/svganimation/svg.animation.js"%}></script>
</body>

</html>