<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Your Timetable</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href={% static "images/favicon.png" %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static "css/skin-3.css" %}>

</head>

<body>
    <div id="main-wrapper">
        {%include "navbar.html" %}
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Your timetable</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive recentOrderTable">
                                        <table border="7" cellspacing="0" align="center">
                                            <tr>
                                                <td align="center" height="40" width="100"><br>
                                                    <b>Day/Period</b></br>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>1<br>8:50-9:40</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>2<br>9:40-10:30</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>10:30-10:40</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>3<br>10:40-11:30</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>4<br>11:30-12:20</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>5<br>12:20-1:10</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>1:10-2:00</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>6<br>2:00-2:50</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>7<br>2:50-3:40</b>
                                                </td>
                                                <td align="center" height="40" width="100">
                                                    <b>8<br>3:40-4:30</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="40">
                                                    <b>Monday</b>
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec1}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec2}}
                                                </td>
                                                <td rowspan="6" align="center" height="40">
                                                    <h5>B<br>R<br>E<br>A<br>K</h5>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec3}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec4}}

                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec5}}
                                                </td>
                                                <td rowspan="6" align="center" height="40" width="60">
                                                    <h5>L<br>U<br>N<br>C<br>H</h5>
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec6}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec7}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_mon_lec8}}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="center" height="40">
                                                    <b>Tuesday</b>
                                                </td>

                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec1}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec2}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec3}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec4}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec5}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec6}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec7}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_tues_lec8}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="40">
                                                    <b>Wednesday</b>
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec1}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec2}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec3}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec4}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec5}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec6}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec7}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_wed_lec8}}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="center" height="40">
                                                    <b>Thursday</b>
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec1}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec2}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec3}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec4}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec5}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec6}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec7}}
                                                </td>

                                                <td align="center" height="40">
                                                    {{user.teach_thurs_lec8}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="40">
                                                    <b>Friday</b>
                                                </td>

                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec1}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec2}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec3}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec4}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec5}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec6}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec7}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_fri_lec8}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" height="40">
                                                    <b>Saturday</b>
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec1}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec2}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec3}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec4}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec5}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec6}}
                                                </td>
                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec7}}
                                                </td>

                                                <td align="center" height="40">
                                                    {{user.teach_sat_lec8}}
                                                </td>
                                            </tr>
                                        </table>
                                        <br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--**********************************
Content body end
***********************************-->




    </div>
    <!--**********************************
Main wrapper end
***********************************-->

    <!--**********************************
Scripts
***********************************-->
    <!-- Required vendors -->
    <script src={% static "vendor/global/global.min.js"%}></script>
    <script src={% static "vendor/bootstrap-select/dist/js/bootstrap-select.min.js"%}></script>
    <script src={% static "js/custom.min.js"%}></script>
    <script src={% static "js/dlabnav-init.js"%}></script>

    <!-- Chart sparkline plugin files -->
    <script src={% static "vendor/jquery-sparkline/jquery.sparkline.min.js"%}></script>
    <script src={% static "js/plugins-init/sparkline-init.js"%}></script>

    <!-- Chart Morris plugin files -->
    <script src={% static "vendor/raphael/raphael.min.js"%}></script>
    <script src={% static "vendor/morris/morris.min.js"%}></script>

    <!-- Init file -->
    <script src={% static "js/plugins-init/widgets-script-init.js"%}></script>

    <!-- Demo scripts -->
    <script src={% static "js/dashboard/dashboard.js"%}></script>

    <!-- Summernote -->
    <script src={% static "vendor/summernote/js/summernote.min.js"%}></script>
    <!-- Summernote init -->
    <script src={% static "js/plugins-init/summernote-init.js"%}></script>

    <!-- Svganimation scripts -->
    <script src={% static "vendor/svganimation/vivus.min.js"%}></script>
    <script src={% static "vendor/svganimation/svg.animation.js"%}></script>
    <!--script src={% static "js/styleSwitcher.js"></script-->
    <!--
to import settings change name of settings.js to sytleSwitcher.js
-->
</body>

</html>