<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en" >
	<head>
	 	<meta charset="UTF-8">
		<title>Login</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/teacher-style.css' %}" />
	</head>
	<body>
	<!-- partial:index.partial.html -->
		<div class="box-form">
			<div class="left">
				<div class="overlay">
				<h1>Hello World.</h1>

					<span>
					<p>Login with Google</p>
					<a href="#" align='center'><i class="fa fa-google" aria-hidden="true"></i></a>
					</span>
				</div>
			</div>

			<div class="right">
				<h5>Login</h5>
				<!-- <p>Don't have an account? <a href="#">Create Your Account</a></p> -->
				<form method="post" action="/student/login/">
					{% csrf_token %}
					<div class="inputs">
						<input type="text" placeholder="User ID" name="studentid">
						<br>
						<input type="password" placeholder="Password" name="studentpwd">
					</div>

					<br>
					{% if messages %}
						<!-- {% for message in messages %}
							<div class="alert alert-{{ message.tags }}"  style="color:red; font-size:18px; text-align:center";>
								{{ message|safe}}
							</div>
						{% endfor %} -->
						<script>
							{%for message in messages %}
								alert("{{message}}");
							{%endfor%}
							location.reload();
						</script>
					{% endif %}
					<br>

					<div class="remember-me--forget-password">
						<!-- Angular -->
						<label>
						<input type="checkbox" name="item" checked/>
						<span class="text-checkbox">Remember me</span>
						</label>
						<a href="/student/forget/"><p>Forgot Password?</p></a>
					</div>
					<br>
					<button type = "submit" style="cursor:pointer;">Login</button>
				</form>
			</div>

		</div>
		<!-- partial -->

	</body>
</html>
