<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>


	<title>Attendance</title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href={% static "images/favicon.png" %}>
	<link rel="stylesheet" href={% static 'css/style.css' %}>
	<link rel="stylesheet" href={% static "css/skin-3.css" %}>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>

<body>
	<div id="main-wrapper">
		{%include "studentnavbar.html"%}
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">

				<div class="row">
					<div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Attendance</h4>
							</div>
							<div class="card-body">
								<div align="center">
								<div class="col-lg-7 col-md-8" align="center">
									<canvas id="attendance"></canvas>
								</div>
								</div>
								<div class="table-responsive recentOrderTable">
									<table class="table verticle-middle table-responsive-md">
										<thead>
											<tr>
												<th scope="col">Subject</th>
												<th scope="col">Present</th>
												<th scope="col">Total</th>
											</tr>
										</thead>
										<tbody>
											{%for i,v in label.items%}
											{% if i != "Absent" %}
											<tr>
												<td>{{i}}</td>
												<td>{{v.0}}</td>
												<td>{{v.1}}</td>
											</tr>
											{%endif%}
											{%endfor%}
											<tr>
												<td align="right"><b>Total</b></td>
												<td>{{total.0}}</td>
												<td>{{total.1}}</td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--**********************************
	Content body end
	***********************************-->




	</div>
	<!--**********************************
	Main wrapper end
	***********************************-->

	<!--**********************************
	Scripts
	***********************************-->
	<script>
		const canvas = document.getElementById('attendance');
		// Get the data from the Django view function
		const data = JSON.parse('{{ data|safe }}');

		// Create the pie chart
		new Chart(canvas, {
			type: 'doughnut',
			data: {
				labels: data.labels,
				datasets: [{
					data: data.datasets.data,
					backgroundColor: data.datasets.backgroundColor
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Semester {{sem}}'
				}
			}
		});

	</script>
	<!-- Required vendors -->
	<script src={% static "vendor/global/global.min.js" %}></script>
	<script src={% static "vendor/bootstrap-select/dist/js/bootstrap-select.min.js" %}></script>
	<script src={% static "js/custom.min.js" %}></script>
	<script src={% static "js/dlabnav-init.js" %}></script>

	<!-- Chart sparkline plugin files -->
	<script src={% static "vendor/jquery-sparkline/jquery.sparkline.min.js" %}></script>
	<script src={% static "js/plugins-init/sparkline-init.js" %}></script>

	<!-- Chart Morris plugin files -->
	<script src={% static "vendor/raphael/raphael.min.js" %}></script>
	<script src={% static "vendor/morris/morris.min.js" %}></script>

	<!-- Init file -->
	<script src={% static "js/plugins-init/widgets-script-init.js" %}></script>

	<!-- Demo scripts -->
	<script src={% static "js/dashboard/dashboard.js" %}></script>

	<!-- Summernote -->
	<script src={% static "vendor/summernote/js/summernote.min.js" %}></script>
	<!-- Summernote init -->
	<script src={% static "js/plugins-init/summernote-init.js" %}></script>

	<!-- Svganimation scripts -->
	<script src={% static "vendor/svganimation/vivus.min.js" %}></script>
	<script src={% static "vendor/svganimation/svg.animation.js" %}></script>
	<!--script src={% static "js/styleSwitcher.js"></script-->
	<!--
	to import settings change name of settings.js to sytleSwitcher.js
	-->
</body>

</html>